* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-top: 5px;
}

/* 問15 専用スタイルを定義 */
.square:hover {
  background: #ddd;
}

.center-board {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  gap: 0 45px;
  text-align: center;
}

.square-box {
  width: 150px;
  text-align: center;
}

.board-row {
  display: flex;
  justify-content: center;
}

.Unchecked {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
}

.hidden {
  visibility: hidden;
}

.root .hidden {
  visibility: visible;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
}

hr {
  margin-bottom: 15px;
}

.wrapper {
  border: 1px solid #ccc;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
  margin-top: 20px;
}

/* スマートフォン対応 (2分木表示をしない) */
@media screen and (max-width: 480px) {
	.hidden {
    display: none;
  }
  .center-board {
    gap: 0;
  }
  .root .hidden {
    display: block;
  }
}